
.hello {
    display: flex;
    font-size: 70px;
    margin-top: 0;
    justify-content: center;
    /* border: 3px solid blue; */
    font-family: 'Amatic SC', cursive;
}

.profile_pic {
    display: block;
    width: 200px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    /* border: 3px solid blue; */
}

.HEAD_CONTAINER {
    display: flex;
    height: 60px;
}

.home_pic {
    width: 65px;
    height: 65px;
    margin-top: 30px;
    margin-left: 20px;
}

.head {
    display: flex;
    font-size: 45px;
    font-family: 'Amatic SC', cursive;
    margin-top: 31px;
    margin-left: 0px;
}