
.CONTAINER {
    display: flex;
}

.Head {
    display: flex;
}

.HEAD_CONTAINER {
    display: block;
    height: 60px;
    margin-top: 10px;
}

.ICON_CONTAINER {
    display: flex;
    width: 200px;
    height: 70px;
}

.head {
    display: flex;
    font-size: 43px;
    font-family: 'Amatic SC', cursive;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 15px;
    border: none;
    background-color: white;
}

.head:hover {
    font-size: 50px;
}

.Intro {
    display: flex;
}

.INTRO_CONTAINER {
    display: block;
    margin-left: 340px;
    width: 400px;
}

.profile_pic {
    display: flex;
    width: 200px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    /* border: 3px solid blue; */
}

.hello {
    display: flex;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 30px;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
}

.link {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    margin-top: 5px;
    height: 40px;
}

.link:visited {
    color: black;
}

.link:hover {
    font-size: 27px;
}

.foot {
    display: flex;
    font-family: 'Amatic SC', cursive;
    justify-content: center;
    margin-top: 220px;
}